SECRET_KEY=secret_key
DEBUG=True
ALLOWED_HOSTS=*

# Database connection url in format: postgres://user:pass@host:port/db_name
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres

# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
