{% extends 'recipes/list.html' %}

{% block title %}{{ category.name }}{% endblock %}
{% block category %}
    <div class="row my-4">
        <h3 class="text-center my-3">{{ category.name }}</h3>
        {% if category.image %}
            <div class="col-md-3 my-auto">
                <img src="{{ category.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
        {% endif %}

        <p class="col-md-8 my-auto mx-auto">{{ category.description }}</p>
    </div>
    <hr>


{% endblock %}
